
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Book Section</h2>

<div class="row">
    <div class="col-md-6">
        <label>Search for a book: </label>
        <div class="form-inline">
            <input class="form-control" type="search" placeholder="Enter book name here" />
            <button class="btn btn-primary" id="btn-search">Search</button>
        </div>
        <div id="book-results"></div>

    </div>
    <div class="col-md-6">
        <button class="btn btn-success" id="btn-add">Add a book</button>
        <div id="add-book"></div>

    </div>
</div>



<script>
    //jsSearchBook: Listens for "Search" button and loads book results into the page
    document.getElementById("btn-search").onclick = function () { jsSearchBook() };
    function jsSearchBook() {

        $("#book-results").load('@Url.Action("SearchBook", "Books")');
    }

    //jsAddBook: Listens for "Add Book" button and loads _AddBookView into the page
    document.getElementById("btn-add").onclick = function () { jsAddBook() };
    function jsAddBook() {

        $("#add-book").load('@Url.Action("AddABook", "Books")');
    }
</script>